body,
html {
    margin: 0;
    padding: 0;
}

body {
    color: $black;
    line-height: 1.5;
    font-weight: 300;
    background-color: $white;
    font-family: $font-popins;
    line-height: normal;
}

a, a:hover {
    text-decoration: none;
    color: $black;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}