$sm: 576px;
$md: 768px;
$lg: 1025px;
$xl: 1400px;
$mx: 1600px;

$white: white;
$black: black;
$amber: #ffc107;
$green: #28a745;
$red: #dc3545;
$blue: #007bff;

$whisper: #eeeef5;
$white-lilac: #f7f7fc;
$athens-gray: #ebeaf1;
$mulled-wine: #343652;


$font-popins: 'Poppins', sans-serif;