.button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: $white;
    padding: 0.75em 1em;
    border-radius: 5px;
    background-color: $mulled-wine;
    border: 2px solid $mulled-wine;
    font-size: 0.9rem;

    &--small {
        padding: 0.7em 0.75em;
        font-size: 0.8rem;
    }

    &--primary {
        color: $white;
        background-color: $blue;
        border-color: $blue;
    }

    &--success {
        color: $white;
        background-color: $green;
        border-color: $green;
    }

    &--danger {
        color: $white;
        background-color: $red;
        border-color: $red;
    }

    &--warning {
        color: $black;
        background-color: $amber;
        border-color: $amber;
    }
}