.data {
    height: 0;
    overflow: hidden;
    background-color: $white;

    strong {
        font-weight: 500;
    }

    &--toggle {
        height: auto;
    }

    &__icon {
        cursor: pointer;
        color: $blue;
        font-size: 1.5rem;

        &--active {
            color: $red;
        }
    }
}