form {

    input {
        outline: 0;
        border: 0;
        padding: 0.75em;
        color: $black;
        font-size: 0.9rem;
        border-radius: 5px;
        border: 2px solid $athens-gray;
    }

    button {
        cursor: pointer;
        border: 0;
        outline: 0;
        color: $white;
        padding: 0.75em 1em;
        border-radius: 5px;
        background-color: $mulled-wine;
        border: 2px solid $mulled-wine;
        font-size: 0.9rem;
    }
}