.message {
    margin: 0.5em 0;
    padding: 0.5em;

    &--success {
        color: $white;
        background-color: $green;
    }

    &--error {
        color: $white;
        background-color: $red;
    }
}