.pagination {
    list-style: none;
    padding: 1em 0;
    margin: 0;

    .page-item {
        display: inline-block;
        padding: 0 0.25em;

        a {
            color: $blue;
        }

        &.active {
            color: $black;
        }
    }
}