table {
    border-collapse: collapse;
    width: 100%;

    @media(max-width: $sm) {
        font-size: 0.9rem;
    }
}
  
td, th {
    border: 1px solid $athens-gray;
    text-align: left;
    padding: 0.5em;
    font-weight: 300;
}

th {
    background-color: $mulled-wine;
    color: $white;
    border-color: $mulled-wine;
}

tr:nth-child(even) {
    background-color: $white-lilac;
}